mixin article(title, src, description, href, ctaText)
    article(class=title class="article")
        figure
            img(src=src alt=title)
        //.content
        h3.en.article--title= title
        p.ka.article--content= description
        a(href=href, class="btn ka article--cta", target="_blank")= ctaText

doctype html
html(lang="ka")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Intertecs LTD | Construction Machinery
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

    body#body
        header#header.header
            .header__title-wrapper
                h1.sr-only Intertechnics
                a(href="/"): img.header__logo(src="img/logo.png", alt="Intertechnics Logo")

            nav#navigation.nav
                h2.sr-only ნავიგაცია
                ul.nav__list
                    li.nav__item: a(href="#").nav__link.scroll.ka მთავარი
                    li.nav__item: a(href="#about").nav__link.scroll.ka ჩვენ შესახებ
                    li.nav__item: a(href="#equipment").nav__link.scroll.ka ტექნიკა
                    li.nav__item: a(href="#parts").nav__link.scroll.ka ნაწილები
                    li.nav__item: a(href="#contact").nav__link.scroll.ka კონტაქტი
                    ul.nav__list.nav__list--lang
                        li: a(href="/").nav__link.nav__link--white.ka ქართ
                        li: a(href="#").nav__link.nav__link--white.en ENG

            .burger-icon
                .bar-top
                .bar-middle
                .bar-bottom

        .hero-section
            .hero-section__wrapper
                h1.hero-section__title.en Intertechnics LTD
                p.hero-section__lead.ka უმაღლესი ხარისხის სამშენებლო ტექნიკა

            .hero__cta.animated.fade-in(itemscope, itemtype='http://schema.org/Organization')
                div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                    span.en.phone(itemprop="telephone"): a(href="tel:+995 599 50 25 17") +995 (32) 2 45 04 56
                    span.envelope.mail(itemprop="email"): a.en(href="mailto:intertecs@caucasus.net") intertecs@caucasus.net

        main#main
            section.section.section-one.about-us#about
                .container
                    h2.section--title.ka ჩვენ შესახებ
                    .grid-col-two.bg-grey
                        img(src="img/bobcat.jpg", alt="", class="grid-col-left hide-on-small")
                        .about-us--content.grid-col-right.grid-col-full
                            p.ka <span class="eng">Intertechnics LTD</span>-ის მთავარი მიზანია საბაზრო წილისა და კომპეტენტუნარიანობის შენარჩუნება ცვალებად ქართულ ბაზარზე.
                            p.ka კომპანია პარტნიორობს მოწინავე საგზაო-სამშენებლო ტექნიკის მწარმოებელ ბრენდებთან 2005 წლიდან. ეს ურთიერთობები უზრუნველყოფს ინოვაციებისა და უმაღლესი ხარისხის ტექნიკის შემოდინებას ქართულ სამშენებლო სივრცეში.
                            p.ka პარტნიორობის პირველ ეტაპს არსებულ და პოტენციურ კლიენტებთან წარმოადგენს ინფორმაციის წვდომადობა და სანდოობა მოთხოვნად პროდუქციაზე.
                            p.ka ჩვენი ჯგუფი დაკომპლექტებულია პროფესიონალებით, რომლებიც ყოველწლიურად გადიან გადამზადებას და იღრმავებენ გამოცდილებას, უშუალოდ პარტნიორი ფირმების ეგიდით გამართულ ტრენინგებზე.
                h2.section--title.ka ჩვენ გთავაზობთ
                ul.offers--wrapper
                    li.ka ხარისხთან შესაბამისი ფასები
                    li.ka ტექნიკის სწრაფი ტრანსპორტირება
                    li.ka გადახდის მოქნილი პირობები
                    li.ka ცვეთადი ნაწილები და <span class="en">After-service</span>
                    li.ka გარანტია

            section.section.section-two.equipment#equipment
                .container
                    h2.section--title.ka ტექნიკა
                    .grid-col-three
                        +article('bobcat', 'img/bobcat.jpg', 'მინი სატვირთელები და ექსკავატორები, ტელესკოპური სატვირთელები და მათი დამხმარე მოწყობილობები.', 'https://www.bobcat.com/cis/en/index', 'სრული პროდუქცია')
                        +article('bomag', 'img/bomag.jpg', 'ასფალტისა და გრუნტის სატკეპნები, ასფალტის დამგებები, ფრეზები, რესაიკლერები და გრუნტის სტაბილიზატორები.', 'https://www.bomag.com/world/en/homepage.htm', 'სრული პროდუქცია')
                        +article('marini', 'img/marini.jpg', 'ასფალტის მობილური და სტაციონარული ქარხნები.', 'http://www.marini.fayat.com/en/', 'სრული პროდუქცია')
                        +article('powerplus', 'img/powerplus.jpg', 'ბორბლებიანი და მუხლუხა ექსკავატორები, ბორბლებიანი სატვირთელები (Loader), ბულდოზერები, მობილური და მუხლუხა ამწეები, ავტოთვითმცლელები.', 'http://www.powerplus.us/', 'სრული პროდუქცია')
                        +article('hbm-nobas', 'img/hbm.jpg', 'სხვადასხვა ტიპისა და ზომის გრეიდერები.', 'http://www.gp.ag/hbm-nobas/Start/', 'სრული პროდუქცია')
                        +article('putzmeister', 'img/putzmeister.jpg', 'ბეტონის სტაციონარული, მობილური და გვირაბის ტუმბოები, ცემენტო-ქვიშის მიწოდებისა და სალესი ტუმბოები. ბეტონის მობილური მიქსერები.', 'http://www.putzmeister.com/enu/index.htm', 'სრული პროდუქცია')
                        +article('terex-finlay', 'img/terex-finlay.jpg', '100–700 ტ/სთ წარმადობის მობილური, ყბებიანი და როტორული სამსხვრევები, მობილური სარეცხი ცხრილები და კლასიფიკატორები.', 'https://www.terex.com/mobile-processing-equipment/en/', 'სრული პროდუქცია')
                        +article('kaeser gmbh', 'img/kaeser.jpg', 'ჰაერის ინდუსტრიული დანიშნულების სტაციონარული და სამშენებლო დანიშნულების მობილური კომპრესორები.', 'http://www.kaeser.com/int-en/', 'სრული პროდუქცია')
                        +article('ins-makina', 'img/ins-makina.jpg', 'ბეტონის სტაციონარული და მობილური კვანძები, ქვა–ღორღის სარეცხი და დამხარისხებელი მობილური დანადგარები.', 'https://www.insmakina.com/ru/', 'სრული პროდუქცია')

            section.section.section-three.address#contact
                .container
                    h1.section--title.ka საკონტაქტო ინფორმაცია
                    .grid-col-two.bg-grey
                        .address-info.grid-col-left
                            div(itemscope, itemtype='http://schema.org/Organization')
                                div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                                    p.ka.map-marker #[span(itemprop="streetAddress")]85 ფალიაშვილის ქ. #[span(itemprop="addressLocality")] თბილისი, საქართველო
                                    p.ka(itemprop="postalCode") ზიპ-კოდი: 0162
                                    p.en.phone(itemprop="telephone") +995 (32) 2 45 04 56
                                    p.ka.map-marker სერვის ცენტრი: #[span(itemprop="streetAddress")] კახეთის გ/ტ 106
                                p.ka.fax(itemprop="faxNumber") +995 (32) 2 45 04 56(9)
                                p.envelope.mail(itemprop="email"): a.en(href="mailto:intertecs@caucasus.net") intertecs@caucasus.net
                        // Google map for Intertechnics Office
                        .address-map.grid-col-right
                            #map

            section.section.section-four.shop#parts
                .container
                    h2.section--title.ka ნაწილები
                    .grid-col-two.bg-grey
                        // Google map for parts shop
                        .address-map.grid-col-left
                            #mapShop
                        .address-info.grid-col-right
                            div(itemscope, itemtype='http://schema.org/Organization')
                                div(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
                                    p.ka სამშენებლო ტექნიკის ნაწილები ოფიციალური მწარმოებლებისგან!
                                    p.ka.map-marker <span itemprop="streetAddress">6 პეტრე იბერის ქ.</span><span itemprop="addressLocality"> თბილისი, საქართველო</span>

        div#pop-up.pop-up
            div.pop-up-wrapper
                span.close#btn-close &times;
                .pop-up-content-wrapper
                    h3.pop-up-header.ka სიახლე!
                    p.pop-up-content.ka დიღომში, პეტრე იბერის ქუჩაზე გაიხსნა სამშენებლო ტექნიკის ნაწილების მაღაზია.
                    a(href="#parts" id="btn-redirect" class="ka scroll") დეტალების ნახვა

        .scroll-to-top#scroll-to-top
            a(href="#body").scroll: i.fa.fa-angle-double-up

        footer#footer
            p.copyright.en &copy; Intertecs.ge &#9679; 2018
            // Top.ge counter
            div#top-ge-counter-container(data-site-id="108307")
            script(async src="//counter.top.ge/counter.js")
            // End of Top.ge counter

        script(src="js/script.min.js")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2revqu6ZJqUnD9llOalXP8mJdH-tWx8U&callback=initMap")
